body {
    margin: 0 auto;
    background-color: white;
    font-family: verdana;
    font-size: 18px;
}

figure {
    margin: 0 auto;
    position: relative;
}


figure img {
    width: 100%;
}

#text {
    position: absolute;
    top: 40%;
    margin: 0;
    color: white;
    left: 5%;
}