#white {
    width: 625px;
    height: 625px;
    background-color: white;
}

.square {
    position: absolute;
    width: 200px;
    height: 200px;
}

.round {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50px;
}

#red {
    top: 10px;
    left: 10px;
    background-color: red;
}

#pink-round {
    background-color: pink;

}

#blue {
    left: 215px;
    top: 10px;
    background-color: blue;
}

#grey-round {
    background-color: grey;
}

#darkgreen {
    top: 10px;
    left: 420px;
    right: 5px;
    background-color: darkgreen
}

#purple-round {
    background-color: purple;

}



#yellow {
    top: 215px;
    left: 10px;
    background-color: yellow;
}

#darkgreen-round {
    background-color: darkgreen;
}

#black {
    left: 215px;
    top: 215px;
    background-color: black;
}

#red-round {
    background-color: red;
}

#orange {
    top: 215px;
    left: 420px;
    right: 5px;
    background-color: darkorange
}

#blue-round {
    background-color: blue;
}

#purple {
    top: 420px;
    left: 10px;
    background-color: purple
}

#orange-round {
    background-color: orange;
}

#grey {
    left: 215px;
    top: 420px;
    background-color: grey;
}

#yellow-round {
    background-color: yellow;
}

#pink {
    top: 420px;
    left: 420px;
    right: 5px;
    background-color: pink
}

#black-round {
    background-color: black;
}
